*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    width:100%;
    height:100vh;

    background:#111;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    font-family:Arial, sans-serif;

}


/* ANA EKRAN */

#startScreen{

    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

}


#startScreen h1{

    color:white;

    margin-bottom:40px;

    font-size:40px;

}



/* ZARF */

#envelope{

    position:relative;

    width:300px;

    height:190px;

    cursor:pointer;

}



/* ZARFIN ARKASI */

#envelopeBack{

    position:absolute;

    width:100%;

    height:100%;

    background:#f7b6d2;

    border-radius:10px;

    z-index:1;

}



/* KAĞIT */

#letter{

    position:absolute;

    left:50%;

    top:20px;

    transform:translateX(-50%);


    width:240px;

    height:140px;


    background:#fffaf2;

    border-radius:8px;


    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;


    text-align:center;


    z-index:2;


    transition:1s;

}



#letter p{

    color:#555;

    font-size:18px;

}


#letter span{

    margin-top:15px;

    color:#999;

}



/* ÖN KAPAK */

#front{

    position:absolute;

    bottom:0;

    left:0;


    width:300px;

    height:100px;


    background:#ef9fc4;


    border-radius:0 0 10px 10px;


    z-index:3;

}



/* ÜST KAPAK */

#flap{

    position:absolute;

    top:0;

    left:0;


    width:300px;

    height:100px;


    background:#ffd0e3;


    clip-path:polygon(
        0 0,
        50% 70%,
        100% 0
    );


    transform-origin:top;


    transition:1s;


    z-index:4;

}
